
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background-color: #1A1B21;
    border-radius: 10px 10px 0 0
}

.profile-img {
    max-width: 320px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1.2rem;
  }

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

  #name {
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.38rem;
  }

  #role-title {
    color: #F3BF99;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0.55rem;
  }

  #url {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10.2px;
    margin-bottom: 1.06rem;
  }

  .contact-btn {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  button {
    padding: 0.56rem 1.23rem;
    border: none;
    border-radius: 5px;
  }

  #email-btn {
    background-color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
    color: #374151;
  }

  #mail-icon {
    content: url('../assets/icons/envelope-solid.svg');
    width: 1rem;
  }

  #linkedin-btn {
    background-color: #5093E2;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  #linkedin-icon {
    content: url('../assets/icons/linkedin.svg');
    width: 1rem;
  }